<div class="container mt-5">
  <h2 class="text-center custom-heading">Your Ticket Details</h2>
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Name: <%=  %></h5>
      <p class="card-text">Email: <%=  %></p>
      <p class="card-text">Movie: <%=  %></p>
      <p class="card-text">Quantity: <%=  %></p>
      <p class="card-text">Total Price: $<%=  %></p>
      <p class="card-text">Booking Code: <%=  %></p>
    </div>
  </div>
</div>
