<div class="container mt-5">
  <h2 class="text-center">Your Ticket Details</h2>
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Name: <%= order.name %></h5>
      <p class="card-text">Email: <%= order.email %></p>
      <p class="card-text">Movie: <%= order.movie %></p>
      <p class="card-text">Quantity: <%= order.quantity %></p>
      <p class="card-text">Total Price: $<%= order.totalPrice %></p>
      <p class="card-text">Booking Code: <%= order.kode_bk %></p>
    </div>
  </div>
</div>
